<form method="post" action="/playlist/<%=@playlist.id%>">
<input type="hidden" id="hidden" name="_method" value="patch">

<label>Title</label>
<input type ='text' name="title" value='<%=@playlist.id%>'>
<input type ='text' name="description" value='<%=@playlist.description%>'>
<input type ='text' name="name" value='<%=@playlist.song.name%>'>
<input type ='text' name="title" value='<%=@playlist.song.artist%>'> 
<input type='submit'>
</form>